body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content:center;
}

.greninja-image{
    width: 150px;
}
.card{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    background-color: #fdf0d5;
    border-bottom: 5px solid #003049;
    text-align: center;
    color: #669bbc;
    box-shadow: 15px 12px 10px gray;
    transition: transform .2s;
}
.card:hover{
    transform: scale(1.5);
}
